<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

<div id="<%= dom_id lab_report %>">
  <p>
    <strong>Title:</strong>
    <%= lab_report.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lab_report.description %>
  </p>

  <p>
    <strong>author:</strong>
    <%= lab_report.user.full_name %>
  </p>

</div>
